<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBypu2Vt8W_KeS3-Ac-GV1hXQh7fC5eZY4</string>
	<key>GCM_SENDER_ID</key>
	<string>766035577642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionhub</string>
	<key>PROJECT_ID</key>
	<string>fashionhub-da9d7</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionhub-da9d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766035577642:ios:a8e6a2b8124d3e4f48ac53</string>
</dict>
</plist>